include /mixins.jade

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="description",content="")
        meta(name="author",content="")
        title #{main_title}
        block headstart
        link(href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800", rel="stylesheet")
        link(href="//fonts.googleapis.com/css?family=Raleway:300,200,100", rel="stylesheet")
        link(href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
        link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
        link(href="//cdn.jsdelivr.net/nanoscrollerjs/0.8.0/css/nanoscroller.min.css", rel="stylesheet")
        link(href="#{baseurl}/vendors/cleanzone/css/style.css", rel="stylesheet")
        link(href="#{baseurl}/css/style.css", rel="stylesheet")
        link(rel="icon", href="/favicon.ico", type="image/x-icon")
        block headend
    body
        block bodystart
        +top-navbar()
        div#cl-wrapper.fixed-menu
            +sidebar(menuItems, user)
            div#pcont.container-fluid
                block pagehead
                div.cl-mcont
                    +messages(messages)
                    block content
                    div#reactive.block-flat

        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/react/0.10.0/react.min.js")
        script(src="//cdn.jsdelivr.net/nanoscrollerjs/0.8.0/javascripts/jquery.nanoscroller.min.js")
        script(src="#{baseurl}/js/app.js")
        script.

        block bodyend
