mixin top-navbar
    div#head-nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
        div.container-fluid
            div.navbar-header
                div.navbar-toggle(data-toggle="collapse", data-target=".navbar-collapse")
                    span.sr-only Toggle navigation
                    i.fa.fa-bars
                a.navbar-brand(href="#{baseurl}/"): span #{brand_name}

            div.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#{baseurl}/") Home
                    li.dropdown
                        a.dropdown-toggle(href="#",data-toggle="dropdown") Test
                            b.caret
                        ul.dropdown-menu
                            li: a(href="#{baseurl}/test/") Test home
                            li: a(href="#{baseurl}/test/foo") Foo
                            li: a(href="#{baseurl}/test/message") Add message
                    li: a(href="#{baseurl}/new/") New

